.spinner {
  width: 30px; // изменяем ширину на 30px
  aspect-ratio: 1;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset black;
    animation: sc5 2.5s infinite;
  }

  &::after {
    animation-delay: -1.25s;
    border-radius: 0;
  }
}

@keyframes sc5 {
  0% {
    inset: 0 17.5px 17.5px 0; // изменяем значения inset для новой ширины
  }
  12.5% {
    inset: 0 17.5px 0 0;
  }
  25% {
    inset: 17.5px 17.5px 0 0;
  }
  37.5% {
    inset: 17.5px 0 0 0;
  }
  50% {
    inset: 17.5px 0 0 17.5px;
  }
  62.5% {
    inset: 0 0 0 17.5px;
  }
  75% {
    inset: 0 0 17.5px 17.5px;
  }
  87.5% {
    inset: 0 0 17.5px 0;
  }
  100% {
    inset: 0 17.5px 17.5px 0;
  }
}
